<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      Built and maintained by <a href="https://www.srbala.com">Bala Raman.</a> © {{ site.time | date: "%Y" }}
    </div>
    <div class="grid-item xlarge--one-third">
      <a href="https://twitter.com/balaatusa" class="twitter-link"><span class="under">Follow us</span> <i class="icon-twitter"></i></a>
    </div>
    <div class="grid-item xlarge--one-third xlarge--text-right">
      Want to contact? <a href="mailto:contact@srbala.com">Drop a email</a>
    </div>
  </div>

</footer>
