<div class="hero-header">
  <div class="pagewidth grid">
    <div class="grid-item xlarge--one-half xlarge--text-center">
      <h2>Support Java Tools</h2>
      <p>
        Interested in supporting development team, contact us.
      </p>
      <p>
        <a href="mailto:support@java-tools.org" class="btn is-active">Support us!</a>
      </p>
    </div>
    <div class="grid-item xlarge--one-half xlarge--text-center developer-community">
      <h2>Join our developer community</h2>
      <p>
        Want join the development community, report an issue when you find a bug or need new feaature. 
        Create a Pull Request and discuss with development team
      </p>
    </div>
  </div>
</div>
